.container{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.imgsize{
    width: 30px;
    height: 15px;
}

.right{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.right a{
    text-decoration: none;
    color: rgb(103, 91, 91);
    /* cursor:all-scroll; */
}
body{
    height: 1000px;
}